    <div class="row">
        <h1>Educación</h1>
        <div class="container">
            <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
                Nueva Educación
            </button>
            <div class="text-center row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let Educacion of edu">
                    <div class="card text-dark bg-info" style="width: 18rem;">
                        <img src="{{Educacion.imgE}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1 class="card-title #name">{{Educacion.nombreE}}</h1>
                            <p class="card-text">{{Educacion.descripcionE}}</p>
                        </div>
                    </div>
                    <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged">
                        <i class="bi bi-pen"></i></button>
                    <button class="btn btn-danger" (click)="delete(Educacion.id)" *ngIf="isLogged"> <i
                            class="bi bi-trash-fill">
                        </i></button>
                </div>
            </div>
        </div>