<div class="container" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreProyecto">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreProyecto" name="nombreProyecto" [(ngModel)]="proyecto.nombreProyecto" required>
                </div>
                <div class="form-group">
                    <label for="imagenProyecto">Imagen del proyecto</label>
                    <input type="text" class="form-control" id="imagenProyecto" name="imagenProyecto" [(ngModel)]="proyecto.imagenProyecto" required>
                </div>
                <div class="form-group">
                    <label for="descripcionProyecto">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcionProyecto" name="descripcionProyecto" [(ngModel)]="proyecto.descripcionProyecto" required>
                </div>
                <div class="form-group">
                    <label for="linkProyecto">Url del proyecto</label>
                    <input type="text" class="form-control" id="linkProyecto" name="linkProyecto" [(ngModel)]="proyecto.linkProyecto" required>
                </div>
                <button class="btn btn-info">
                    Actualizar Proyecto
                </button>
            </form>
        </div>
    </div>
</div>

