<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div> 
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-11 col-md-11 col-sm-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyecto">
                    <td>
                        <h2 id="name">{{Proyecto.nombreProyecto}}</h2>
                    </td>
                    <td>
                        <h3>{{Proyecto.descripcionProyecto}}</h3>
                    </td>
                    <td><img src="{{Proyecto.imagenProyecto}}" alt="" width="200px" id="img-proyecto">
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproyecto/{{Proyecto.id}}"> 
                            <i class="bi bi-pen"></i>Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Proyecto.id)"> <i class="bi bi-trash-fill">
                        </i>Borrar</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
     
    </div>
    
    