    <div class="row">
        <h1>Proyectos Realizados</h1>
        <div class="container">
            <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
                Nuevo Proyecto
            </button>
            <div class="text-center row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let Proyecto of proyecto">
                    <div class="card text-dark bg-info" style="width: 18rem;">
                        <img src="{{Proyecto.imagenProyecto}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1 class="card-title #name">{{Proyecto.nombreProyecto}}</h1>
                            <p class="card-text">{{Proyecto.descripcionProyecto}}</p>
                        </div>
                    </div>
                    <button class="btn btn-light" routerLink="/editproyecto/{{Proyecto.id}}" *ngIf="isLogged"> 
                        <i class="bi bi-pen"></i></button>
                        <button class="btn btn-danger" (click)="delete(Proyecto.id)" *ngIf="isLogged"> <i class="bi bi-trash-fill">
                        </i></button>
                </div>
        </div>
        </div>
</div>