<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="LogoAp">
            <h4>#YoProgramo</h4>
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/gmail png.png" id="Gmail"></a>
                <a href=""><img src="../../../assets/fb png.png" id="Fb"></a>
                <a href=""><img src="../../../assets/github.png" id="Github"></a>
                <a href=""><img src="../../../assets/ig png.png" id="Ig"></a>
                <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                <button type="button" class="btn btn-outline-dark" (click)="onLogout()" *ngIf="isLogged">Cerrar Sesión</button>
                
            </div>
        </div>
    </div>
</div>


