.row{
    padding: 20px;
}

div{
    background-image: linear-gradient(lightblue, rgb(25, 81, 100))
}

h1, h3{
    display: inline;
    align-items: center;
}

#name{
    font-weight: bold;
}

#imgE{
    box-shadow: 10px -15px 30px #835185;
    align-items: center;
}