  <div class="row">
    <h1>Habilidades</h1>
    <div class="container">
      <button type="button" class="btn btn-dark" routerLink="/nuevaskill" *ngIf="isLogged">
          Nueva Habilidad
      </button>
  </div>  
  <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let Skills of skills">
    <img src="{{Skills.imgSkill}}" alt="">
    <circle-progress
    [percent]="(Skills.porcentajeSkill)"
    [radius]="60"
    [title]="(Skills.nombreSkill)"
    [titleFontSize]="'10'"
    [titleFontWeight]="'10'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#00358e'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="320"
  ></circle-progress>
  <td *ngIf="isLogged">
    <button class="btn btn-light" routerLink="/editskill/{{Skills.id}}"> 
        <i class="bi bi-pen"></i></button>
  </td>
  <td *ngIf="isLogged">
    <button class="btn btn-danger" (click)="delete(Skills.id)"> <i class="bi bi-trash-fill">
    </i></button>
  </td>
  </div>
</div>

