<div class="row">
  <h1>Habilidades</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/nuevaskill" *ngIf="isLogged">
        Nueva Habilidad
    </button>
</div>  

<div class="col-lg-1 col-md-1 col-sm-1"></div>
<div class="col-lg-11 col-md-11 col-sm-11">
    <table class="table">
        <tbody>
            <tr *ngFor="let Skills of skills">
                <td>
                    <h3 id="name">{{Skills.nombreSkill}}</h3>
                </td>
                <td><img src="{{Skills.imgSkill}}" alt="" width="80px">
                </td>
                <td>
                    <h4 class="text-center">{{Skills.porcentajeSkill}} %</h4>
                    <mat-progress-bar mode="determinate" [value]="Skills.porcentajeSkill"></mat-progress-bar>
                </td>
                <td *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/editskill/{{Skills.id}}"> 
                        <i class="bi bi-pen"></i></button>
                </td>
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(Skills.id)"> <i class="bi bi-trash-fill">
                    </i></button></td>
                  </tr>
              </tbody>
          </table>
      </div>
 
</div>

