<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo Uno</h1> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique fugit in repellat placeat aperiam. Distinctio dolorum eaque amet temporibus eius provident repudiandae minus, adipisci illum consectetur molestias earum, ab doloribus.</p>
        </ul>
        <ul>
            <li><h1>Trabajo Dos</h1> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique fugit in repellat placeat aperiam. Distinctio dolorum eaque amet temporibus eius provident repudiandae minus, adipisci illum consectetur molestias earum, ab doloribus.</p>
        </ul>
        <ul>
            <li><h1>Trabajo Tres</h1> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique fugit in repellat placeat aperiam. Distinctio dolorum eaque amet temporibus eius provident repudiandae minus, adipisci illum consectetur molestias earum, ab doloribus.</p>
        </ul>
    </div>
</div>